.frame{
    position: absolute;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    top: 50%;
    left: 50%;
    background: #123654;
    box-shadow: 5px 5px 21px 12px rgb(0 0 0 / 30%);
}

.center{
    display: flex;
    align-items: center;
    margin-top: 40%;
}

h2{
    color: #fff;
    margin-top: 15%;
    font-size: 2em;
    text-align: center;
}

.button{
    position: absolute;
    top: 0%;
    left: 45%;
}

label{
    position: absolute;
    top: 26%;
    left: 34%;
    width: 110px;
    height: 55px;
    border: 5px solid #fff;
    border-radius: 60px;
    cursor: pointer;
    display: grid;
    align-items: center;
}

label::before{
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    left:5px;
    transition: all .5s ease;
}

input{
    display: none;
}

input:checked + label:before{
    left: calc(150px - 90px)
}